body{
  text-align: center;
  font-family: Times New Roman, Arial;
   margin: 0px 0px 30px 0px;
  color: #f2f2f2;
  background-color:#0F0147;
}

}
 Section{
  width:60%;
  margin:0 auto;
 }
   Section section{
     width:100%;
   }
p{
  font-size:20px;
  line-height:1,5;
  text-align:justify;
   color: #eeeae7;
  margin-left:10%;
  margin-right:10%;
  padding-left:0;
}
  nav.Principal {
    background-color: #00b9ff;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  nav.Principal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav.Principal ul li {
    display: inline;
  }

  nav.Principal ul li a {
    color: white;
    display: inline-block;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
  }

  nav.Principal ul li a:hover {
    background-color: #5cd3ff;
  }

  section {
    padding: 60px 20px 20px; /* Ajuste o padding superior para considerar a altura da barra de navegação fixa */
  }

   
}
.Principal{
  background-color:#f7f7f7;
    height:40px;
  max-width:50%;
  margin:0 auto;
  box-shadow: 0px 3px 10px #969696;
  border: 3px solid  #5e5e5e;
   
}
img{
  width:50%;
  border: 1px solid white;
}
  h1{
  font-size:250%
  }
.ImagemMenor{
  width:40%
}
.ImgS
{
  text-align: center;
  color: red;
}

ImagemTitulo{
  width: 55%;
  border:none;
  margin:0 auto;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

H3{
  font-size:50px;
  text-align: center;
  color: #00b9ff;
   text-shadow: 2px -2px #000000; 

}
h2{
  font-size:30px;
  text-align: center;
  color: #ebebeb;
  text-shadow: 2px -2px #4f4f4f; 

}